.Labels {
    -unity-font: url('project://database/Assets/UI/Fonts/BebasNeue-Regular.ttf?fileID=12800000&guid=58c4b07de967b494d9a686d17ed408fa&type=3#BebasNeue-Regular');
    -unity-font-style: italic;
    color: rgba(255, 255, 255, 255);
    background-color: rgba(0, 0, 0, 255);
    border-left-color: rgba(56, 56, 56, 255);
    border-right-color: rgba(56, 56, 56, 255);
    border-top-color: rgba(56, 56, 56, 255);
    border-bottom-color: rgba(56, 56, 56, 255);
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition-property: initial;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}
